* {
    margin: 0;
    padding: 0;
}

.conteneur_grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.conteneur_grid > div {
    border: 1px solid black;
}

.content {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.menu {
    grid-column: 1;
    grid-row: 2 / 4;
}

.header {
    grid-column: 2 / 4;
}

@media screen and (max-width: 1024px){
    .conteneur_grid {
        grid-template-rows: 1fr 1fr 5fr;
    }

    .content {
        background-color: blue;
    }

    .header {
        grid-column: 1 / span 3;
    }

    .menu {
        grid-row: 2;
        grid-column: 1 / span 3;
    }

    .content {
        grid-row: 3;
        grid-column: 1 / span 3;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .content {
        background-color: red;
        grid-row: 2 / span 3;
        grid-column: 1 / span 3 ;
    }

    .header {
        grid-row: 1;
        grid-column: 1 / span 3 ;
    }

    .logo {
        display: none;
    }

    .menu {
        display: none;
    }
}